<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
</head>
<body>

<div th:replace="~{fragments/header :: header}"></div>

<main>
    <h1>Регистрация</h1>

    <form th:action="@{/register}" th:object="${request}" method="post">
        <p>
            <label for="username">Имя пользователя</label><br>
            <input type="text" id="username" th:field="*{username}" required>
        </p>
        <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}">
            Ошибка ввода имени
        </p>

        <p>
            <label for="password">Пароль</label><br>
            <input type="password" id="password" th:field="*{password}" required>
        </p>
        <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}">
            Ошибка ввода пароля
        </p>

        <p>
            <label for="confirmPassword">Повторите пароль</label><br>
            <input type="password" id="confirmPassword" th:field="*{confirmPassword}" required>
        </p>
        <p th:if="${#fields.hasErrors('confirmPassword')}" th:errors="*{confirmPassword}">
            Ошибка повтора пароля
        </p>

        <button type="submit">Зарегистрироваться</button>
    </form>

    <p>
        Уже есть аккаунт?
        <a th:href="@{/login}">Войти</a>
    </p>
</main>

</body>
</html>
