<header th:fragment="header"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <p>
        <a th:href="@{/}">Главная</a>
        |
        <a th:href="@{/users}">Пользователи</a>
        |
        <a th:href="@{/media}">Файлы</a>
        <span sec:authorize="isAuthenticated()">
            |
            <a th:href="@{/profile}">Мой профиль</a>
            |
            <a th:href="@{/friends}">Друзья</a>
            |
            <a th:href="@{/friend-requests}">Заявки</a>
        </span>
        <span sec:authorize="isAnonymous()">
            |
            <a th:href="@{/login}">Войти</a>
            |
            <a th:href="@{/register}">Регистрация</a>
        </span>
        <span sec:authorize="isAuthenticated()">
            |
            Привет, <span sec:authentication="name"></span>
            <form th:action="@{/logout}" method="post">
                <button type="submit">Выйти</button>
            </form>
        </span>
    </p>
    <hr>
</header>
