<header th:fragment="header"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <p>
        <a th:href="@{/}">BaseProject</a>
        |
        <a th:href="@{/}">Главная</a>
        |
        <a th:href="@{/posts}">Посты</a>
        |
        <a th:href="@{/media}">Файлы</a>
        |
        <a sec:authorize="isAuthenticated()" th:href="@{/profile}">Профиль</a>
        |
        <a sec:authorize="isAuthenticated()" th:href="@{/posts/my}">Мои посты</a>
        |
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/admin}">Админка</a>
        |
        <a sec:authorize="hasRole('ADMIN')" th:href="@{/users}">Пользователи</a>
        |
        <span sec:authorize="isAuthenticated()">
            Привет, <span sec:authentication="name"></span>
        </span>
        <a sec:authorize="isAnonymous()" th:href="@{/login}">Войти</a>
        |
        <a sec:authorize="isAnonymous()" th:href="@{/register}">Регистрация</a>
    </p>

    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="post">
        <input type="hidden"
               th:if="${_csrf != null}"
               th:name="${_csrf.parameterName}"
               th:value="${_csrf.token}">
        <button type="submit">Выйти</button>
    </form>

    <hr>
</header>
