<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>

<main>
    <h1>Социальная сеть</h1>
    <p>Здесь можно найти пользователей, заполнить профиль, отправить заявку в друзья и смотреть список друзей.</p>

    <ul>
        <li><a th:href="@{/users}">Список пользователей</a></li>
        <li><a th:href="@{/profile}">Мой профиль</a></li>
        <li><a th:href="@{/friends}">Мои друзья</a></li>
        <li><a th:href="@{/friend-requests}">Заявки в друзья</a></li>
    </ul>
</main>
</body>
</html>
